/*Agregando para la altura y ancho*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
#map{
    height: 75vh;
    width: 100vw;
}
header{
    font-family:"Montserrat";
    color:#FFF;
    background-color: #0b2b09;
    margin-top:10px;

}
.media-icons a:hover{
    color: #185813;
    background-color: #fff;
}

footer{
    font-family:  'Montserrat';
    color: #fff;
    background: #185813;
    padding: 2rem 0;
    text-align: center;
    margin-top: 1em;
}




